<div class="container p-4">
    <div class="row">
        {{#each list}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    
                    <!--<a href="{{userID}}" target="_blank">-->
                        <a href="#" target="_blank"></a>
                        <h3 class="card-title text-uppercase">
                            {{NombreDirectorio}}
                        </h3>
                    </a>
                    <a class="btn btn-danger" href="/list/delete/{{NombreDirectorio}}">
                        Delete Directory
                    </a>
                </div>
            </div>
        </div>
    </div><br>
        <div class="card card-body text-center">
                <a class="btn btn-secondary" href="/list/add/{{id}}">
                        Add directory! (Hyperlink to exec program)
                </a>
            </div><br>
            <div class="card card-body text-center">
                <a class="btn btn-secondary" href="/list/convert">
                        File converter
                </a>
            </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are no directories added yet.</p>
                <a class="btn btn-secondary" href="/list/add/{{id}}">
                        Add one (Hyperlink to exec program)
                </a>
            </div><br>
            <div class="card card-body text-center">
                <a class="btn btn-secondary" href="/list/convert">
                        File converter
                </a>
            </div>
        </div>
        
        {{/each}}
    </div>
</div>